
<h2>Admin Types</h2>
<button mat-flat-button color="primary" routerLink="/admintype/create"
matTooltip="Create Admin type"
matTooltipPosition="below" >
    <mat-icon>add_circle_outline</mat-icon> 
    Create new
</button>

<app-generic-list [list]="admintype">
    <ng-container content>
        <table mat-table [dataSource]="admintype" class="mat-elevation-z8 table-index">
            <ng-container matColumnDef="TypeName">
                <th mat-header-cell *matHeaderCellDef>Type Name</th>
                <td mat-cell *matCellDef="let element">{{element.TypeName}}</td>
            </ng-container>
            <ng-container matColumnDef="IsActive">
                <th mat-header-cell *matHeaderCellDef>IsActive</th>
                <td mat-cell *matCellDef="let element">{{element.IsActive}}</td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Actions</th>
                <td mat-cell *matCellDef="let element">
                    <a [routerLink]="['/admintype/edit/',element.Id]" 
                    mat-flat-button color="primary"
                    matTooltip="Edit Admin type"
                    matTooltipPosition="left" 
                   > 
                    <mat-icon>edit</mat-icon>
                </a>
                    <button mat-flat-button color="warn"  matTooltip="Delete Admin type"
                    matTooltipPosition="right" 
                    [swal]="{
                        title: 'Confirmation',
                        text: 'Are you sure that you want to delete the record?',
                        showCancelButton: true
                    }"
                    (confirm)="delete(element.Id)">
                    <mat-icon>delete_forever</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let element; columns: columnsToDisplay"></tr>

        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20, 50]" showFirstLastButtons
        [length]="totalAmountOfRecords" [pageSize]="pageSize" (page)="updatePagination($event)"
        class="mat-elevation-z8"
        > 

        </mat-paginator>  
        <!-- <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator> -->
    </ng-container>
</app-generic-list>
